* {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	background-color: #F7F7F7;
}
header {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	height: 80px;
	background-color: #454546;
	margin-bottom: 30px;
	border-bottom: 1px solid #AAAAAA;
	box-shadow: 0 7px 22px #888888;
}
#content {
	width: 990px;
	margin: auto;
	margin-top: 60px;
	overflow: auto;
}
#animation-container {
	float: left;
	width: 40%;
}
#information {
	float: right;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	width: 579px;
}
#information p {
	text-align: justify;
	margin-top: 5px;
}
#animation-controls span {
	cursor: pointer;
}
footer {
	padding-top: 10px;
	margin: 100px auto 50px;
	border-top: 1px solid rgb(204, 204, 204);
	width: 95%;
}
footer * {
	color: #999999;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}